.modal-content {
    color: navy;
}

.modal-content input.form-control {
    background-color: #f2f2f2; 
    color: navy;                
    border: 1px solid #ccc;
}



.modal-content input.form-control::placeholder {
    color: #666;
    opacity: 1;    
}
  
.modal-content .btn-primary {
    background-color: navy !important;
    border-color: navy !important;
    color: white !important;
}

.error-space {
    min-height: 18px; 
    display: block;
  }
